<div class="flex">
    <div class="w-1/4 p-4">
      <ul class="list-none">
        <li *ngFor="let user of userData" (click)="selectUser(user)" 
            [class.bg-gray-200]="selectedUser?.id === user.id" 
            class="cursor-pointer p-2 border-b">
          {{ user.name }}
        </li>
      </ul>
    </div>
    <div class="w-3/4 p-4">
      <h2 *ngIf="selectedUser" class="text-2xl font-bold mb-4">{{ selectedUser.name }}'s workout progress</h2>
      <p-chart *ngIf="selectedUser" type="bar" [data]="barChartData" [options]="barChartOptions"></p-chart>
    </div>
  </div>